<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Generator</title>
</head>
<body>
    <form method="POST" action="">
        <input type="text" placeholder="Enter Tagline For Generating Content" name="alpha",
         style="width:700px; height:30px;font-size:20pt">
        <input type="submit" value="Submit" style="height:35px">
        <p><h4> {{ output }} </h4></p>

    </form>
</body>
</html>